<h1>Welcome to Bitbut!</h1>
<p>Where tastebud has nothing to do here.</p>

<form action="/urls" method="POST">
	Enter URL:
	<input type= "text" name= "long_url">
	<!-- <input type= "text" name= "email"> -->
	<input type="submit" value= "Submit">
</form>


<% @urls.each do |url| %>
	<%= url.long_url %> - <%= url.short_url %><br>
<% end %>

