<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		    <title>Welcome to Backrub!</title>
		    <link rel="stylesheet" type="text/css" href="/css/application.css" >
			<script  src="/js/application.js" ></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>

